@font-face {
    font-family: 'YangBagus';
    src: url('font/font/YangBagus-DYMX9.ttf'),
         url('font/font/YangBagus-pgq61.otf');
    font-weight: normal;
    font-style: normal;
}


html{
    scroll-behavior: smooth;
}

body{
    background: 
    radial-gradient(circle, rgb(236, 101, 191) 15%, rgba(0, 0, 0, 0) 13%), 
    radial-gradient(circle, rgb(0, 140, 255) 15%, rgba(0, 0, 0, 0) 13%), 
    orange;
    background-position: 0 0, 45px,45px;
    background-origin: padding-box;
    background-size: 85px 75px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow:
     -0.5px 0.5px 0 #000,
     -0.5px 0.5px 0 #000,
     -0.5px 0.5px 0 #000,
     -0.5px 0.5px 0 #000;

}

h3{
    font-family: 'YangBagus', 'sans-serif';
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}


/* Cake images */

@keyframes bobbing-tilt-upper-left{
    0%{transform: rotate(15deg);}
    49%{transform: rotate(15deg);}
    50%{transform: rotate(-15deg);}
    100%{transform: rotate(-15deg);}
}

@keyframes bobbing-tilt-lower-left{
    0%{transform: rotate(-15deg);}
    49%{transform: rotate(-15deg);}
    50%{transform: rotate(15deg);}
    100%{transform: rotate(15deg);}
}

@keyframes bobbing-tilt-upper-right{
    0%{transform: rotate(20deg);}
    49%{transform: rotate(20deg);}
    50%{transform: rotate(-20deg);}
    100%{transform: rotate(-20deg);}
}

@keyframes bobbing-tilt-lower-right{
    0%{transform: rotate(-20deg);}
    49%{transform: rotate(-20deg);}
    50%{transform: rotate(20deg);}
    100%{transform: rotate(20deg);}
}

.header-cake-left{
    position: absolute;
}

.header-cake-left img:first-child{
    width: 250px;
    height:250px;
    position: absolute;
    left: 150px;
    top: 0;
    animation: bobbing-tilt-upper-left 1s steps(1) infinite;

}

.header-cake-left img:last-child{
    position: absolute;
    width: 300px;
    height:300px;
    left: 300px;
    top: 250px;
    animation: bobbing-tilt-lower-left 1s steps(1) infinite ;
}

.header-cake-right{
    position: absolute;
    top: 20%;
    right: 3%;
}

.header-cake-right img:first-child{
    width: 250px;
    height:250px;
    position: absolute;
    right: 110px;
    top: -190px;
    animation: bobbing-tilt-upper-right 1s steps(1) infinite;
}

.header-cake-right img:last-child{
    width: 250px;
    height:250px;
    position: absolute;
    right: 280px;
    top: 75px;
    animation: bobbing-tilt-lower-right 1s steps(1) infinite;
}

.navbar-cake-left{
    position: absolute;
}
.navbar-cake-left img{
    position: absolute;
    top: -60px;
    left: 350px;
    width: 150px;
    height: 150px;
}

.navbar-cake-right{
    position: absolute;
}

.navbar-cake-right img{
    position: absolute;
    top: -127px;
    left: 1330px;
    width: 150px;
    height: 150px;
}

.menu-cake-left{
    position: absolute;
}

.menu-cake-left img{
    width:150px;
    height: 150px;
    position: absolute;
    top: -55px;
    left: 685px;
}
.menu-cake-right{
    position: absolute;
}
.menu-cake-right img{
    width :150px;
    height: 150px;
    position: absolute;
    top: -150px;
    left: 1000px;
}
.about-cake-left{
    position: absolute;
}

.about-cake-left img{
    width:150px;
    height: 150px;
    position: absolute;
    top: -55px;
    left: 685px;
}

.about-cake-right{
    position: absolute;
}

.about-cake-right img{
    width :150px;
    height: 150px;
    position: absolute;
    top: -150px;
    left: 1000px;
}

.contact-cake-left{
    position: absolute;
}

.contact-cake-left img{
    width:150px;
    height: 150px;
    position: absolute;
    top: -67px;
    left: 65px;
}

.contact-cake-right{
    position: absolute;
}

.contact-cake-right img{
    width :150px;
    height: 150px;
    position: absolute;
    top: -160px;;
    left: 385px;
    
}

.location-cake-left{
    position: absolute;
}

.location-cake-left img:first-child{
    position: absolute;
    width: 250px;
    height: 250px;
    top: -310px;
    left: 140px; 
    animation: bobbing-tilt-upper-left 1s steps(1) infinite;
}

.location-cake-left img:last-child{
    position: absolute;
    width: 315px;
    height: 315px; 
    top: -130px;
    left: 295px;
    animation: bobbing-tilt-lower-left 1s steps(1) infinite;  
}

.location-cake-right{
    position: absolute;
}

.location-cake-right img:first-child{
    position: absolute;
    width: 250px;
    height: 250px;
    top: -340px;
    left: 1440px;
    animation: bobbing-tilt-upper-right 1s steps(1) infinite;
}

.location-cake-right img:last-child{
    position: absolute;
    width: 250px;
    height: 250px;
    top: -150px;
    left: 1260px;
    animation: bobbing-tilt-lower-right 1s steps(1) infinite;
}

/* Cake Rules End */


#header-text{
    font-family: 'YangBagus', 'sans-serif';
    font-size: 22px;
}

#baby-pic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 1;
    margin-left: 1px;
}

.rotating-text{
    width: 500px;
    height: 500px;
    animation: rotateText 10s linear infinite;
    transform-origin: center;
}

.rotating-text text{
    font-size: 25px;
    fill: white;
    font-family: 'YangBagus', sans-serif;
}

@keyframes rotateText {
    100%{
        transform: rotate(360deg);
    } 
}

.circle-wrapper{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.toggle-icon{
    background-color: #024b1b;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25px;
    margin-left: 30px;
}

.toggle-icon:hover{
    cursor: pointer;
}

.Navbar{
    padding-bottom: 15px;
    text-align: center;
    z-index: 10;

}

.navbar-a{
    text-align: center;
}
.sep1{
    border-top: 17px solid white;
    margin: 25px auto;
    width: 75%;
    box-shadow: none;
    
}

.nav-link{
    font-family: 'YangBagus', 'sans-serif';
    text-decoration: none;
    color: inherit;
    font-size: 50px;
    text-align: center;
}

#menu-link{
    padding-right: 100px;
}

#about-link{
    padding: 25px;
}

#contact-link{
    padding-left:100px;

}

.nav-link:hover{
    text-decoration: underline;
}

.nav-link:active{
    color: inherit;
}

.welcome-text{
    font-family: 'YangBagus', 'sans-serif';
    font-size: 100px;
}

/* Conveyor Belt Style */
.menu-belt{
    position: relative;
    overflow: hidden;
    height: 400px;
    max-width: 85%;
    margin: 0 auto;
    border: #9fa8f8 ridge 4px;
    border-radius: 1%;
    background: #f7b5e1;
}

.belt-track{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 20px; 
}

.pastry-slide{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    border: #ffffff solid 3px;
    margin-top: 48px;
    border-radius: 10%;
    
}

.pastry-slide-img{
    min-width: 400px;
    min-height: 400px;
    aspect-ratio: 0.5;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10%;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
}

.popup-modal{
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.popup-content{
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close-btn{
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#arrow-left{
    left: 0;
}
#arrow-right{
    right: 0;
}

@media (max-width: 768px){
    .pastry-slide{
        width: 150px;
        height: 150px;
    }
}


/* Conveyor style end*/

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
}

.about-img-container1, .about-img-container2{
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
}

#about-pic1, #about-pic2{
    max-width: 600px;
    height: 400px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #9fa8f8;
}

#about-text-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 5px;
    text-align: center;
    background-color: rgba(241, 159, 8, 0.35);
    border-radius: 8px;
}

#about-text{
    font-size: 1.7rem;
    line-height: 1.5;
    text-shadow:
     -1px 1px 0 #000,
     -1px 1px 0 #000,
     -1px 1px 0 #000,
     -1px 1px 0 #000;
    
}

.Contact{
    text-align: center;
}
#contact-text{
   font-size: 30px; 
   text-align: center;
}

.contact-info{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
 
}

#location-text{
    font-family: 'YangBagus', 'sans-serif';
    font-size: 30px;
    text-decoration: underline;
}

.contact-link{
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 7px;
    display: inline-block;
    font-size: 35px;
    height: 38px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: #333;
    text-shadow: none;
}

.contact-link i{
    text-align: center;
    pointer-events: none;
}

.contact-link:hover{
    transform: scale(1.2);
}

.contact-link:visited{
    color:inherit;
}

#Facebook{
    background-color: rgb(0, 38, 255);
}
#Instagram{
    background-color: rgb(226, 43, 73);
}
#Linkedin{
    background-color: rgb(50, 79, 247);
}
#Twitter{
    background-color: rgb(0, 153, 255);
}
#TikTok{
    background-color: black;
}

.location-box{
    padding-top: 5px;
    font-size: 20px;
}

.address-link{
    text-decoration: none;
}

.address-link:visited{
    color: inherit;
}

#address-text:hover{
    text-decoration: underline;
}

#address-text{
    text-decoration: none;
}

#copyright{
    font-family: 'YangBagus', 'sans-serif';
    font-size: 20px;
}

/* Dark Mode */
.dark-mode{
    background-color: #024b1b;
    color: white;
    text-shadow:
     -1.5px 1.5px 0 #000,
     -1.5px 1.5px 0 #000,
     -1.5px 1.5px 0 #000,
     -1.5px 1.5px 0 #000;
}

.dark-mode-btn{
    background-color: orange;
}

.dark-mode-about-text{
    background-color: rgba(5, 146, 40, 0.411);
}