* {
  margin: 0;
  padding: 0;
}
*,*::before,*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 1.8rem; 
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  background:rgba(6, 142, 233, 0.919);
  color: rgb(244, 246, 249);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin: auto;

}

h3 {
  font-size: 2.1rem;
  text-decoration: underline;
}

a {
  color: inherit; /* Use the same color as the surrounding text */
  text-decoration: none; /* Remove underline from links */
}

/* Link states */
a:link {
  color: inherit; /* Use the same color as the surrounding text */
}

a:visited {
  color: inherit; /* Keep the same color after the link is visited */
}

a:hover {
  color: inherit; /* Maintain the same color on hover */
  text-decoration: underline; /* Optional: Add underline on hover for effect */
}

a:active {
  color: inherit; /* Maintain the same color when the link is active */
}
#about-text, #project-mini-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
#header {
  display: flex;
  justify-content: center;   /* Horizontally center the text */
  align-items: center;       /* Vertically center the text */
  height: 50vh;             /* Adjust the height to center vertically in the viewport */
  text-align: center;        /* Center the text content */
  animation: blink-cursor 0.75s step-end infinite; /* Cursor blink effect */
}

#header-text {
  font-size: 4.5rem;         /* Adjust font size as needed */
  color: white;               /* Change the color as needed */
  margin: 0;                 /* Remove default margin */
}

#header-text::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.banner {
  width: 100%; 
  margin-bottom: 1rem;
  top: 6rem;
  padding: 6px 0px; 
  background-color: #ffbf00; 
  color: #fffbfb; 
  font-size: 1.2rem; 
  text-align: center; 
  position: relative;
  z-index: 1; 
}

.banner h4 {
  margin: 0; 
  font-size: 1.5rem; 
  font-weight: bold; 
  text-transform: uppercase;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 20px;
}
#Spotify{
  text-decoration: none;
}
#Spotify:hover{
  text-decoration: underline; 
}
#Recipe{
  text-decoration: none;
}
#Recipe:hover{
  text-decoration: underline; 
}
#Goodreads{
  text-decoration: none;
}
#Goodreads:hover{
  text-decoration: underline; 
}
#Rateyourmusic:hover{
  text-decoration: underline; 
}
#Rateyourmusic{
  text-decoration: none;
}
.nav-link{
  display: flex;
  margin-right: 2rem;
  text-decoration: none;
}

#profile-mini-header {
  margin: 0 auto 4rem auto;
}

.project-text-container {
  text-align: center;  /* Centers the text inside the container */
  margin-bottom: 20px; /* Adds some spacing below the text */
}
#project-header, 
#project-description {
  text-align: center; /* Centers the text */
  margin: 0 auto;     /* Center the element horizontally */
  width: 100%;        /* Ensures the element spans the full width of the parent container */
  padding: 10px 0;    /* Adds some vertical spacing */
}

.project-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;           
}

.project-tile {
  position: relative;          /* Enables positioning for overlay elements */
  flex: 1 1 calc(33.333% - 20px); /* 3 tiles per row with space between */
  box-sizing: border-box;      /* Includes padding and border in width */
  text-align: center;          /* Center the text inside the tile */
  background-color: rgb(255, 255, 255);
  color: white;
  margin: 5px;                
  border-radius: 8px;
  overflow: hidden;            /* Ensures content doesn't overflow the tile */
  transition: transform 0.3s, background-color 0.3s;  /* Smooth transition for hover effects */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.project-tile-text {
  position: absolute;          /* Position the text over the image */
  transform: translate(-50%, -50%); /* Adjusts the position to truly center the text */
  top: 50%;
  left: 50%;
  width: auto;                 /* Cover the entire tile width */
  color: white;                /* Text color */
  font-size: 2rem;             /* Larger font size */
  font-weight: bold;           /* Bold text */
  text-align: center;          /* Center the text */
  text-decoration: none;       /* Remove underline from text */
  white-space: nowrap;        /* Prevent text from wrapping */
  opacity: 0;                  /* Hide text initially */
  transition: opacity 0.3s, transform 0.3s, color 0.3s; /* Smooth transition for hover effects */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds shadow to the text for better visibility */
}

.project-tile img {
  width: 100%;                 /* Ensures image covers full width */
  height: 100%;                /* Ensures image covers full height */
  object-fit: cover;           /* Ensures image covers the entire tile */
  display: block;              /* Ensures block-level element */
  transition: opacity 0.3s;    /* Smooth transition for hover effects */
}

.project-tile:hover {
  transform: scale(1.02); /* Slightly scale up the tile on hover */
}

.project-tile:hover img {
  opacity: 0.7;                /* Fades the image when hovered */
}

.project-tile:hover .project-tile-text {
  opacity: 1;                  /* Show text when hovered */
  transform: translate(-50%, -50%) scale(1.1); /* Slightly increase text size on hover */
}

.project-tile a {
  position: absolute;          /* Positions the text over the image */
  top: 50%;                    /* Center text vertically */
  left: 50%;                   /* Center text horizontally */
  transform: translate(-50%, -50%); /* Adjusts the position to truly center the text */
  color: white;                /* Text color */
  padding: 10px 20px;          /* Padding around text */
  text-align: center;          /* Centers the text */
  text-decoration: none;       /* Removes underline from text */
  font-size: 1.2rem;           /* Adjusts font size */
  border-radius: 4px;          /* Adds slight rounding to the text background */
  transition: background-color 0.3s; /* Smooth transition for hover effects */
}

@media (max-width: 900px) {
  .project-tile {
    flex: 1 1 calc(50% - 20px); /* 2 tiles per row on medium screens */
  }
}

@media (max-width: 600px) {
  .project-tile {
    flex: 1 1 100%;  /* 1 tile per row on small screens */
  }
}

.profile-link {
  text-decoration: none;   /* Remove underline from links */
  color: rgb(255, 255, 255);            /* Default text color */
  font-size: 24px;         /* Icon size */
  padding: 10px;           /* Space around the icon */
  margin: 5px;             /* Space between buttons */
  height: 50px;
  width: 50px;
  border-radius: 60%;      /* Circular buttons */
  display: inline-block;   /* Keep icons inline */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  text-align: center;
  border: 2px solid transparent;            /* Start with no border */
  box-shadow: #333;
}

.profile-link i {
  text-align: center; /* Center the icon horizontally */
}

.profile-link:hover {
  transform: scale(1.1);  /* Slightly increase the size */
  color: #fff;            /* Keep the icon color white on hover */ 
}

#Linkedin {
  background-color: #0077b5; 
}

#Github {
  background-color: #333;    
}

#Email {
  background-color: #D44638; 
}

@media (max-width: 600px) {
  .profile-link {
    font-size: 20px;      
    padding: 8px;         
    margin: 3px;          
  }
}

footer > p  {
  margin: 2rem;
}